# Scrap Notebook I used for fixing some data.  

This notebook can be safely ignored or deleted.

In [1]:
import pandas as pd
SYN_PATH = "/app/datasets/MINDsmall/analysts_behavior.tsv"
df = pd.read_csv(SYN_PATH, sep="\t")
SYN_PATH2 = "/app/datasets/MINDsmall/train/behavior.tsv"
# Define the column names explicitly (from MIND dataset spec or previous TSV)
columns = ["impression_id", "user_id", "time", "history", "impressions"]
orig_df = pd.read_csv(SYN_PATH, sep="\t", header=None, names=columns)

In [2]:
df.head()

,impression_id,user_id,time,history,impressions
0,156967,A3570,02/18/2025 05:44:09 PM,NaN,N5659-0 N29217-0 N29799-1 N60098-1
1,156968,A6185,02/18/2025 05:44:23 PM,NaN,N13336-0 N3364-1 N52343-0 N64408-0 N4003-0
2,156969,A5385,02/18/2025 05:44:26 PM,NaN,N42791-1 N52381-0
3,156970,A2340,02/18/2025 05:44:27 PM,NaN,N2993-1
4,156971,A4182,02/18/2025 05:44:30 PM,NaN,N42024-1 N29961-0

In [3]:
df.tail()

,impression_id,user_id,time,history,impressions
2590,159557,A3267,04/19/2025 06:10:43 PM,N47938,N35950-1 N29502-1 N46292-1 N16676-1
2591,159558,A8957,04/19/2025 06:10:54 PM,N8931,N14127-1 N62754-1 N41469-1
2592,159559,A7457,04/19/2025 06:10:55 PM,N22433 N31035,N4571-0
2593,159560,A2366,04/19/2025 06:11:04 PM,N35432,N32899-1 N49390-1 N26028-0 N9393-1 N26746-0
2594,159561,A9859,04/19/2025 06:11:05 PM,NaN,N57838-1

In [ ]:
## Increment the impression id by one starting from the 0th sample
df.loc[1:, 'impression_id'] = df.loc[0, 'impression_id'] + range(1, len(df))

In [ ]:
## Last impression id in the behaviors.tsv file
max_original_id = 156966

In [ ]:

# I made a mistake so need to incrment them all by one again.  :-)
df['impression_id'] = range(max_original_id + 1, max_original_id + 1 + len(df))

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
import csv

In [ ]:
df.to_csv(SYN_PATH,sep="\t",index=False,header=True,quoting=csv.QUOTE_MINIMAL,encoding="utf-8")